.listGroup {
  list-style: none;
  padding: 0;
  margin: auto;
  min-height: 450px;
}

.todoList {
  margin: 1rem auto;
  width: 600px;

}

@media (max-width: 768px) {
  .todoList {
    max-width: 400px 
  }
}

@media (max-width: 480px) {
  .todoList {
    max-width: 260px 
  }
}

@media (max-width: 320px) {
  .todoList {
    max-width: 180px 
  }
}