.todoListItem {
  display: grid;
	grid-template-columns: 5% 1fr 10%;
  align-items: center;
  margin: auto;
  cursor: pointer;
  /* margin-bottom: 10px; */
	width: 100%;
	transition: 0.3s ease;
	border-top: 1px solid #e5e5e5;
	padding: 3%;
}

.todoListItem span {
	text-align: left;
	padding: 0.4% 1.5%;
}

.text {
	border: none;
}

.itemContainer {
	display: flex;
	align-items: center;
  padding: 0 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.itemContainer textarea {
	flex-grow: 1;
}

.itemContainer:hover {
  box-shadow:  0 0 10px  #ced4da ;
  background-color: var(--main-hover-color);
}

.buttonsGroup {
	display: flex;
	padding: 0 10%;
}

.button {
  border: none;
  background-color: #fff;
	color: var(--main-button-color);
}

.icon:hover {
  color: var(--main-text-color)
}

.checkbox {
	-webkit-appearance: none;
	height: 20px;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 0.5rem;
	margin-right: 0.2rem;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.checkbox:active, .checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.checkbox:checked:after {
	content: '\2714';
	font-size: 1rem;
	position: absolute;
	top: 0;
	left: 3px;
	color: var(--main-button-color);
}
