
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;400;600&display=swap');

:root {
  --main-text-color: #575757; 
  --main-button-color: #a83299;
  --main-hover-color: #e6e6ff;
}

html {
  height: 100%;
}

h1 {
  font-size: 4rem;
}

body {
  color: var(--main-text-color);
  font-family: 'Hahmlet', serif;
}

button {
  background-color: #a83299;
  border: none;
}

button, 
button:active, 
button:focus{
    outline: none;
}

textarea {
  border: none;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #000;
  transition: 0.3s ease;
  font-size: 1.5rem;
}

a:active {
  background-color: #ede6ec;
}

a:hover {
  background-color: var(--main-hover-color);
  color: #575757;
  border-bottom: 2px solid #d11aff;
}