
.footer {
 	padding: 0 80px;
	margin-top: auto;
	padding: 1.25% 5%;
  width:100%;
  background: #ede6ec;
}

.contacts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60px;
}

.contacts:hover {
	border: none;
}