.paginator {
	text-align: center;
}

.selectedPage {
  font-weight: bold;
}
  
.pageNumber {
	padding: 0.5rem;
	transition: background-color .3s;
}
  
.pageNumber.selectedPage {
	color: var(--main-button-color);
} 

.pageNumber:hover {
	cursor: pointer;
	color: var(--main-button-color);

}

.button {
	border: none;
	background-color: #fff;
}

.button:focus {
	outline: none;
}
