.paginator {
	text-align: center;
}

.selectedPage {
  font-weight: bold;
}
  
.pageNumber {
	padding: 2px;
	transition: background-color .3s;
}
  
.pageNumber.selectedPage {
  border-radius: 2px;
} 

.pageNumber:hover {
	background-color: #ced4da;
	cursor: pointer;
}

.button {
	border: none;
	background-color: #fff;
}

.button:focus {
	outline: none;
}
